@reference "tailwindcss";

.surface {
    @apply absolute left-0 top-0 border-0 bg-transparent p-0;
    @apply ring-1 ring-gray-600;
    transform: translateZ(0);
    background-image:
        linear-gradient(rgb(75 85 99 / 0.5) 2px, transparent 2px),
        linear-gradient(90deg, rgb(75 85 99 / 0.5) 2px, transparent 2px);
    background-size: var(--cell-size) var(--cell-size);
}

.map {
    @apply absolute left-0 top-0 border-0 bg-transparent p-0;
    @apply ring-1 ring-gray-600;
    transform: translateZ(0) rotateZ(180deg) scale(1);

    background-size: 100%;
    background-repeat: no-repeat;
    pointer-events: none;
}

.hoverCell {
    @apply absolute left-0 top-0 bg-gray-500;
    @apply pointer-events-none;

    opacity: 0.75;
    transform-origin: top left;
}
