@reference "tailwindcss";

.box {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply border-0 bg-transparent p-0;
    @apply transition-all duration-200 ease-linear;

    width: var(--cell-size);
    height: var(--cell-size);
    z-index: 2;
    transform-style: preserve-3d;
}

.sprite {
    --sprite-cell-width: 192px;
    --sprite-cell-height: 208px;
    --sprite-sheet-width: 1536px;
    --sprite-sheet-height: 1872px;
    --sprite-row: 0;

    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 50%;

    width: var(--sprite-cell-width);
    height: var(--sprite-cell-height);
    background-position: 0 calc(var(--sprite-row) * var(--sprite-cell-height) * -1);
    background-repeat: no-repeat;
    background-size: var(--sprite-sheet-width) var(--sprite-sheet-height);
    image-rendering: pixelated;
    transform: translateX(-50%) rotateZ(-225deg) rotateX(-60deg) scale(0.35) translate(5px, 1px);
    transform-origin: center bottom;
}

.box[data-animation="running-right"] .sprite {
    --sprite-row: 2;

    animation: tabletop-character-run 704ms steps(8) infinite;
}

.box[data-animation="running-left"] .sprite {
    --sprite-row: 1;

    animation: tabletop-character-run 704ms steps(8) infinite;
}

.box[data-animation="idle"] .sprite {
    --sprite-row: 0;

    animation: tabletop-character-idle 1056ms steps(6) infinite;
}

@keyframes tabletop-character-run {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: calc(var(--sprite-sheet-width) * -1);
    }
}

@keyframes tabletop-character-idle {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: calc(var(--sprite-cell-width) * -6);
    }
}
