@reference "tailwindcss";

.isoBounds {
    @apply relative;
}

.isoLayer {
    @apply absolute;
    @apply transition-all duration-500 ease-in-out;
    transform: rotateX(60deg) rotateZ(45deg) scale(1) translate3d(0, 0, 0);
    transform-origin: center center;
}

.grid {
    @apply relative;
    @apply grid gap-0;

    &>div {
        @apply h-16 w-16;
        @apply ring-1 ring-gray-600 hover:bg-gray-800;

        &:hover {
            &::before {
                /* content id */
                content: attr(id);
                @apply opacity-50;
                @apply transition-opacity duration-300 ease-in-out;
            }
        }

        &:hover {
            span {
                @apply opacity-100;
            }
        }
    }
}

.character {
    @apply absolute;
    @apply flex items-center justify-center;
    @apply transition-all duration-500 ease-in-out;
    @apply bg-green-500;
}